html, body {
	margin: 0;
	padding: 0;
    text-align: center;
    font-style: normal;

    background-color: blue;
}

#surface {
            width: 1000px;
            height: 800px; 
}

#win {
    width: 100%;
    height: 100%;
    padding-top: 200px;
    background: white;
    text-align: center;
    font-family: Arial;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

#lose {
    width: 100%;
    height: 100%;
    padding-top: 200px;
    background: white;
    text-align: center;
    font-family: Arial;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

#wait {
    width: 100%;
    height: 100%;
    padding-top: 200px;
    background: white;
    text-align: center;
    font-family: Arial;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

#gameover a #lose a #win a {
    text-decoration: none;
    color: blue;
}
